<div class="nav-container">
   <div (click)="goHome()">
      <div class="flex-container-center-horizontal">
         <div id="blu">BLU</div>
         <div id="gillie">GILLIE</div>
      </div>

      <div class="flex-container-center-horizontal">
         <div id="image"></div>
      </div>
   </div>
   <nav>

      <a routerLink="/CV" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="parent-link">CV</div>
         </div>
      </a>
      <a routerLink="/Projects" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="parent-link">PROJECTS</div>
         </div>
      </a>
      <a routerLink="/project/1" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="child-link">PIPPAS PORTFOLIO</div>
         </div>
      </a>
      <a routerLink="/project/2" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="child-link">CALUM GILLIE</div>
         </div>
      </a>
      <a routerLink="/project/3" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="child-link">ANT FISH</div>
         </div>
      </a>
      <a routerLink="/project/4" routerLinkActive="active-link">
         <div class="flex-container-center-vertical">
            <div class="child-link">FLICK.IT</div>
         </div>
      </a>
      <a routerLink="/Clients">
         <div class="flex-container-center-vertical">
            <div class="parent-link">CLIENTS</div>
         </div>
      </a>
   </nav>

</div>