<div class="component-container">

  <div class="flex-container-center">

    <div class="content">
      <div class="open-quote"></div>

      <p class="content-p">My name is Benjamin Blu Gillie. I'm a software developer with years of experience developing integrated desktop applications
        and web apps for commercial clients. I created this site as a showcase for projects i have worked on outside of the
        commercial space and to give more information on who i am and the clients who use the software i have worked on.
      </p>

      <p class="content-p">I believe in creating clean, high quality and unit testable code. Using the latest technologies, workflows and SOLID
        principles. Keeping to these principles ensures the software i produce is of the highest level in terms of quality
        and maintainability</p>

      <div class="close-quote"></div>
    </div>

  </div>

</div>